<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guest_id %>
    <%= f.number_field :guest_id %>
  </div>

  <div class="field">
    <%= f.label :table_id %>
    <%= f.number_field :table_id %>
  </div>

  <div class="field">
    <%= f.label :shift_id %>
    <%= f.number_field :shift_id %>
  </div>

  <div class="field">
    <%= f.label :reservation_date %>
    <%= f.text_field :reservation_date %>
  </div>

  <div class="field">
    <%= f.label :reservation_time %>
    <%= f.text_field :reservation_time %>
  </div>

  <div class="field">
    <%= f.label :number_of_people %>
    <%= f.number_field :number_of_people %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
