<p id="notice"><%= notice %></p>

<h1>Rtables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Min guest</th>
      <th>Max guest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rtables.each do |rtable| %>
      <tr>
        <td><%= rtable.name %></td>
        <td><%= rtable.min_guest %></td>
        <td><%= rtable.max_guest %></td>
        <td><%= link_to 'Show', rtable %></td>
        <td><%= link_to 'Edit', edit_rtable_path(rtable) %></td>
        <td><%= link_to 'Destroy', rtable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rtable', new_rtable_path %>
